.main-page {
    height: 100vh;

    &__logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }

    &__side {
        height: 100%;
        position: fixed !important;
        left: 0
    }

    &__main {
        padding: 1rem;
        margin-left: 200px;

        &__content {
            margin-top: .5rem;
            padding: 1rem;
            background: white;
            overflow: auto;
        }
    }
}