.inline {
    display: flex;
    flex-direction: row;

    &__item {
        &--spacing-xs {
            margin-right: .125rem;
        }

        &--spacing-sm {
            margin-right: .375rem;
        }
        
        &--spacing-md {
            margin-right: .75rem;
        }

        &--spacing-lg {
            margin-right: 1rem;
        }

        &--spacing-xl {
            margin-right: 1.5rem;
        }
    }

    &--center {
        align-items: center;
    }

    &--pull-right {
        justify-content: flex-end;
    }
}